@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  flex: 1; /* Это разделит доступное пространство между дочерними компонентами */
  display: flex;
  flex-direction: column; /* Столбцовая верстка */
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: left;
  font-style: italic;
  color: #29627e;
}

.normal {
  font-style: normal;
  font-variant: normal;
}
.small-caps {
  font-variant: small-caps;
}

.default {
  background:  linear-gradient(#22282a, #1c4154);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

small {
  display: block;
  font-size: 12px;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid rgb(248, 248, 248);
  margin-bottom: 25px;
}

.form {
  padding: 20px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  color: #b3b3b3;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
}
.form .message a {
  color: #FDA20B;
  text-decoration: none;
}

.danger {
  margin: 0;
  color: #fd680b;
  font-size: 12px;
}

.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.logout-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.background {
  background-color: white;
}

header {
  background: linear-gradient(#22282a, #1c4154);
  width: 100%;
  height: 10%;
  display: flex;
}

header button img {
  width: 50px;
  height: 50px;
}

.sidebar-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 15px;
  bottom: 0;
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0 0 10px 0;
}

main {
  text-align: center;
}
