@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  flex: 1; /* Это разделит доступное пространство между дочерними компонентами */
  display: flex;
  flex-direction: column; /* Столбцовая верстка */
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.normal {
  font-style: normal;
  font-variant: normal;
}
.small-caps {
  font-variant: small-caps;
}

.default {
  background:  linear-gradient(#22282a, #1c4154);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.Settings {
  background:  linear-gradient(#22282a, #1c4154);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.defaultSettings {
  background:  linear-gradient(#22282a, #1c4154);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
}

small {
  display: block;
  font-size: 12px;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid rgb(248, 248, 248);
  margin-bottom: 25px;
}

.form {
  padding: 20px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formSettings{
  padding: 20px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  justify-content: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  color: #b3b3b3;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
}
.form .message a {
  color: #FDA20B;
  text-decoration: none;
}

.danger {
  margin: 0;
  color: #fd680b;
  font-size: 12px;
}

.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.shadowSettings {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translate(-50%, -50%);
  padding: 100%;
}

.logout-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.logout-content input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.change-content {
  padding: 20px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.change-content input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.closeChange {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  font-size: 20px;
}

.background {
  background-color: white;
}

header {
  background: linear-gradient(#22282a, #1c4154);
  width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
}

header button img {
  width: 50px;
  height: 50px;
}

.profileMain {
  margin-top: 150px;
}

.sidebar-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 15px;
  bottom: 0;
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0 0 10px 0;
}

main {
  text-align: center;
}

.project-content {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 10%;
  top: 15%;
  right: 15%;
  bottom: 15%;

  display: block;
  justify-content: center;
}

aside {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.editor-wrapper {
  position: relative;
}

.save-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-info input[type="text"] {
  left: 13.1%;
  margin-bottom: 10px;
}

.project-info p{
  text-align: left;
  transform: translateX(43.5%);
}

.tr {
  font-size: 25px;
}

.desc{
  color: #6d6e6e;
}

.project-info .description {
  flex-direction: column;
}

.name input {
  transform: translateX(28%);
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 40%;
  box-sizing: border-box;
  font-size: 27px;
  position: relative;
  border: 0;
  margin-top: 10px;
}

.nameOpen {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  margin-top: 10px;
}


.description textarea {
  resize: none;
  transform: translateX(38%);
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
}

.descriptionOpen {
  resize: none;
  transform: translateX(90%);
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}



.right {
  display: flex;
  justify-content: flex-end;

}

.placeholder {
  background-color: #f2f2f2; /* серый цвет фона */
  width: 520px; /* ширина блока */
  height: 520px; /* высота блока */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666; /* цвет текста */
  font-size: 20px;
  text-align: center;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(43.5%);
}

.tag {
  margin-right: 10px; /* добавляйте отступы между тегами по вашему желанию */
  background-color: #FDA20B;
  border-radius: 2px;
}

.tab {
  display: flex;
  justify-content: center;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0 10px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  position: relative;
  padding: 6px 12px;
  border-top: 20px;
  margin-bottom: 2000px;
}

.headerSettings {
  justify-content: flex-start;
  transform: translateX(-31.3%);
}

.Main {
  margin-top: 10px;
}

.searchMain {
  position: relative;
  width: 300px;
  margin: 75px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1px;
}
.searchInput {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #1c4154;
  border-radius: 5px;
  outline: none;
  background: #fffcf5;
  color: #9E9C9C;
  box-sizing: border-box;
}
.searchButton {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #1a3d4f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}
.searchButton:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
  box-sizing: border-box;
}

.create-button {
  position: absolute;
  top: 0;
  right: -240px;
  width: 220px;
  height: 42px;
  border: none;
  background: #FDA20B;
  border-radius: 5px;
  color: #F9F0DA;
  cursor: pointer;
  font-size: 24px;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

.dots {
  position: relative;
  left: 10px;
}


button img{
  height: 50px;
  width: 50px;
  z-index: 0;
}

.test{
  width: 0;
  height: 0;
  position: relative;
  top: -208px;
  left: -730px;
  z-index: 1000;
}

.pen-button{
  position: relative;
  left: 430px;
  top: 10px;
}

.like-button{
  position: relative;
  left: 450px;
  top: 10px;
}

.delete-button{
  position: relative;
  left: 470px;
  top: 10px;
}

.projectShow{
  width: 80%;
  height: 260px;
  border: 1px solid #575454;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
}

.projectShowPicture{
  height: 260px;
  width: 360px;
  border-radius: 5px;
}

.projectShowName{
  font-size: 36px;
  color: #1a3d4f;
  width: 100px;
  transform: translateX(1%);
}

.projectShowOwner{
  width: 150px;
  font-size: 28px;
  transform: translateX(1%);
}


.projectShowDescription{
  font-size: 14px;
  width: 750px;
  text-align: left;
  color: #7b8285;
  transform: translateX(1%);
}

.avatar{
  border-radius: 50%;
}